.circleBase {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    text-align: center;
}

.circleColourPrimary {
    transition: 0.25s;
    background: var(--chakra-colors-red-600);
    border: 4px solid var(--chakra-colors-red-400);
}

.circleColourPrimary:hover{
    background: var(--chakra-colors-red-400);
    border: 6px solid var(--chakra-colors-red-200);
}

.circleColourSecondary {
    transition: 0.25s;
    background: var(--chakra-colors-blue-600);
    border: 4px solid var(--chakra-colors-blue-400);
}

.circleColourSecondary:hover{
    background: var(--chakra-colors-blue-400);
    border: 6px solid var(--chakra-colors-blue-200);
}

.centered {
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-top: calc(50% - 9px);
    margin-left: auto;
    margin-right: auto;
}